.row {
  display: flex;
  width: 550px;
  justify-content: space-between;
  margin-bottom: 2px;
}

body {
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-between; */
  align-items: center;
  text-align: center;
  gap: 20px;
}

.tile {
  width: 65px;
  height: 65px;
  border: 1px solid black;
  background-color: green;
  color: red;
}
.white {
  background-image: url("white.jpg");
  background-size: 100%;
}

.black {
  background-image: url("black.jpg");
  background-size: 100%;
}

.score {
  width: 50px;
  height: 50px;
}

.title {
  font-family: "Monoton", cursive;
  font-size: 100px;
  margin-bottom: 0;
}

.pvp {
  background-color: red;
  color: white;
}

.computer {
  background-color: blue;
  color: white;
}

.reset {
  background-color: rgb(99, 67, 193);
  color: white;
}

.submit {
  background-color: orange;
  color: white;
}

.container-header {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
